.navbar{
    display: flex;
    flex-direction: row;
    max-height: 20%;
    background-color:rgb(20, 89, 129);
}

.flex-item{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    justify-items: flex-start;
}

.flex-btn{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    justify-items: flex-end;
}
a{
    color: azure;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

