@if (mostraAddItem) {
    <app-button text="Fechar" color="red" (btnClick)="changeVisibility(false)"></app-button>
}
@else {
    <app-button text="Adicionar Item" color="green" (btnClick)="changeVisibility(true)"></app-button>
}

<form (ngSubmit)="onSubmit()" *ngIf="mostraAddItem" class="add-form">
    <div>
        <label for="text">Item:</label>
        <input type="text" name="text" class="form-control" placeholder="Adicionar Item" [(ngModel)]="nome">
    </div>
    <input type="submit" value="Salvar Item" class="btn btn-block mb-4">
</form>